.mobile{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  background-color:#e7b75f;
}

@media screen and (max-width:990px) {
  .mobile{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: auto;
  }
  .lapmob{
      padding-top: 100px;
      padding-bottom: 100px;
  }
}