.learn{
    font-size: 25px;
    width: 180px;
    border-radius: 50px;
    padding: 10px;
    transition: .4s ease-out;
    text-align: center;
    margin-left:8.5%;
}
.learn:hover{
    background-color: yellow;
transform: translateX(10px);
cursor: pointer;
}
.autometion-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    text-align: left;
    align-items: center;
}
.autometion{
    width: 100%;
    height: 100%;
}
.heading{
    width: 45%;
}
.img{
    height: 100vh;
}

@media screen  and (min-width: 481px) and (max-width:  767px)  {
    .autometion-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        text-align: left;
        align-items: center;
    }
    .img{
        margin-bottom: 30px;
        height: 88vh;
    }
    .learn{
        margin-bottom: 30px;
    }
    .heading{
        width:80%;
        text-align: justify;
    }
}

@media screen and (min-width: 320px)  and (max-width: 480px)  {

    .autometion-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        text-align: left;
        align-items: center;
    }
    .img{
        height: 70vh;
    }
    .learn{
        margin-bottom: 30px;
    }

    

}

