.grid-Image{
    transition: .4s ease-out;
}
.grid-Image:hover{
 transform: translateY(-8px);  
 cursor: pointer;
}
.gridbuttons{
    transition: .2s ease-out;
    
}

.gridbuttons:hover {
    transform: translateY(-10px);
}
