.gridData {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin-top: 80px;
}

@media screen and (min-width: 320px)  and (max-width: 480px)  {

    .gridData {

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

}

@media screen  and (min-width: 481px) and (max-width:  767px)  {
    .gridData {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}
