.pricing-child {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #616161;
  font-size: 14px;
  text-align: left;
}
.price_section {
  width: 90%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
  text-align: justify;
  color: #8e8e8e;
}

.cards1,
.cards2,
.cards4,
.cards3 {
  padding: 20px;
  background-color: white;
}
.cards1 {
  border: 0.1px solid rgb(186, 180, 180);
}
.cards2 {
  border: 0.1px solid rgb(186, 180, 180);
  border-left: none;
}
.cards3 {
  border: 0.1px solid rgb(186, 180, 180);
  border-right: none;
  border-left: none;
}
.cards4 {
  border: 0.1px solid rgb(186, 180, 180);
}
.cards1:hover,
.cards2:hover,
.cards3:hover,
.cards4:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  cursor: pointer;
  border: 1px solid black;
}
.cards p {
  font-size: 14px;
}
.plan-btn {
  transition: 0.3s ease-out;
}
.plan-btn:hover {
  transform: translateY(-10px);
  background-color: #ffe01b;
}
.underlinetext {
  color: #696969;
  text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .price_section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .price_section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 25px;
  }
  .cards1,
  .cards2,
  .cards4,
  .cards3 {
    border: 0.1px solid rgb(186, 180, 180);
    font-size: 14px;
  }
}
