.btn-signup {
    transition: .2s ease-out;
    
}

.btn-signup:hover {
    transform: translateY(-10px);
}


.heading-of-homepage{
    font-size: 48px;
}

.paragraph-of-top-section{
    font-size: 25px;
}

@media screen  and (min-width: 481px) and (max-width:  767px)  {
    
    .heading-of-homepage{
        font-size: 30px;
    }
    .paragraph-of-top-section{
        font-size: 20px;
        text-align: justify;
    }

}


@media screen and (min-width: 320px)  and (max-width: 480px)  {

    
.heading-of-homepage{
    font-size: 25px;
}
.paragraph-of-top-section{
    font-size: 17px;
    text-align: justify;

}




}
