*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    gap: 40px;
    width: 99%;
    background-color: white;
    justify-content: center;
    margin-top: 30px;
    border-color: black;
    border-width: 2px;
    align-items: center;
    padding: 10px;
}
.navbar img{
    width: 100px;
}
.sales{
    display: block;
}
.sales h3{
    margin-left: 70px;
}
.navbar :nth-child(7){
    width: 40px;
    height: 40px;
}
.navbar :nth-child(8){
    width: 40px;
    height: 40px;
}
.navbar-div-2{
    display: flex;
    gap: 20px;
    
}
.navbar-div-2 button{
    border-color: rgb(44, 40, 40);
}
.navbar-div-1{
    display: flex;
    gap: 20px;
    justify-content: left;
}