@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
  font-family: "Regular"; 
  src: local("Fresca-Regular"),
url("./Fonts/Fresca-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Heading"; 
  src: local("MPLUSCodeLatin-Bold"),
    url("./Fonts/MPLUSCodeLatin-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}